* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.arka-plan {
  background-color: #202a25;
  color: #03b5aa;
}
.renk {
  color: #93032e;
}
.renk-1 {
  background-color: #93032e;
  color: #faf3dd;
  border-radius: 5px;
}
img {
  width: 25%;
}
/* .mizah {
  text-align: right;
} */

/* 
<nav>
            <ul>
                <li><a href="#ozgecmis">Özgeçmiş</a></li>
            </ul>
        </nav>
 */
